<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Assistant</title>
    <link rel="stylesheet" href="https://stackedit.io/style.css"/>
</head>

<body class="stackedit">

<h1 align="center"><a id="Health_Assistant_0"></a>Health Assistant</h1>
<hr>
<p align="center">Here is the Program to make an initial medical examination.</p>
<p align="center">Check our <a href={{api_link}}>API</a> page to learn how to use it.</p>
<p align="center">You also can visit our <a href={{github_link}}>GitHub</a> repository.</p>
<p align="center">For any questions please contact me: <a href="mailto:{{contact_email}}">vdklyukin@edu.hse.ru</a></p>

</body></html>